{% extends 'base.html' %}
{% load static %}
<!-- Meta Tags Per Page Descriptions -->
    {% block metaDescription %}
      <meta name="description" content=
        "Welcome to Four State Stockyards in Exeter, Missouri. We are a family owned and operated sale barn with a passion for the livestock industry.">
    {% endblock metaDescription %}
<!-- Meta Keywords -->
    {% block metaKeywords %}
      <meta name="keywords" content="Four State Stockyard, Four State Stockyards, Regional Sale Barn, Livestock Industry, Exeter Missouri, Exeter, Missouri, Arkansas, Oklahoma, Kansas, Market, Livestock Market, Weekly Sales, Tuesday, Located in Exeter Missouri, Four State Area, Family Owned, Family Operated, Market Your Livestock, Livestock, Livestock Marketing, Sales Info, Market Report, Buyer, Seller, Info, Sale Barn, Livestock Sale">
    {% endblock metaKeywords %}
<!-- Title -->
    {% block titleContent %}
      | Welcome
    {% endblock titleContent %}
<!-- schemas Per Page or Section -->

<!-- Main Page Content -->
{% block mainContent %}
  <div id="home_top_image"> 
  </div>
    <section class="container">
      <main class="homePage">
        <p id="homeP">
          Welcome to Four State Stockyards!
        </p>
        <br>
        <p>
          Four State Stockyards is a family owned and family operated regional sale barn with a passion for the livestock industry.
        <br><br>
          Four State Stockyards is located in Exeter, Missouri - deep in the heart of the four state area which includes Missouri, Arkansas, Oklahoma & Kansas.
        <br><br>
          Let us work with you and for you to market your livestock to their fullest potential.
        <br><br>
          Weekly sales every Tuesday starting at 10AM - we look forward to seeing you!  For more information, give us a call at 417-835-3000!
        </p>
      </main>
    </section>
{% endblock mainContent %}